<%#= link_to "Generate result", tournaments_division_result_path(division_id: division.id, tournament_id: @tournament.id), method: :post %>

<table style="width:100%">
  <% if not_played?(tournament: @tournament, stage: 'division', division: @division_a) %>
    <%= link_to "Generate result division A", tournaments_division_result_path(division_id: @division_a.id, tournament_id: @tournament.id), method: :post %>
  <% end %>

  <tr>
    <th>Team name</th>
    <th>Points</th>
  </tr>
  <% @tournament_stages_a.each do |division| %>
    <tr>
      <td><%= division.team.title %></td>
      <td><%= division.total_points %></td>
    </tr>
  <% end %>
</table>


<table style="width:100%">
  <% if not_played?(tournament: @tournament, stage: 'division', division: @division_b) %>
    <%= link_to "Generate resul division B", tournaments_division_result_path(division_id: @division_b.id, tournament_id: @tournament.id), method: :post %>
  <% end %>

  <tr>
    <th>Team name</th>
    <th>Points</th>
  </tr>
  <% @tournament_stages_b.each do |division| %>
    <tr>
      <td><%= division.team.title %></td>
      <td><%= division.total_points %></td>
    </tr>
  <% end %>
</table>


<table style="width:100%">
  <% if not_played?(tournament: @tournament, stage: 'final') %>
    <%= link_to "Generate result Play-Off", tournaments_play_off_result_path(tournament_id: @tournament.id), method: :post %>
  <% end %>
</table>

<main id="tournament">
	<ul class="round round-1">
    <% @quarterfinals.each do |stage| %>
      <% current_match = get_current_match(stage: "quarterfinals", team_id: stage.team_id, tournament: @tournament) %>
      <% enemy_match = get_enemy_match(stage: "quarterfinals", team_id: stage.team_id, tournament: @tournament) %>

      <li class="spacer">&nbsp;</li>
      <li class="game game-top"><%= current_match.team.title %> <span><%= current_match.points %></span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom"><%= enemy_match.team.title %> <span><%= enemy_match.points %></span></li>
    <% end %>
    <li class="spacer">&nbsp;</li>
	</ul>
	<ul class="round round-2">
    <% @semifinals.each do |stage| %>
      <% current_match = get_current_match(stage: "semifinals", team_id: stage.team_id, tournament: @tournament) %>
      <% enemy_match = get_enemy_match(stage: "semifinals", team_id: stage.team_id, tournament: @tournament) %>

      <li class="spacer">&nbsp;</li>
      <li class="game game-top"><%= current_match.team.title %> <span><%= current_match.points %></span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom"><%= enemy_match.team.title %> <span><%= enemy_match.points %></span></li>
    <% end %>
    <li class="spacer">&nbsp;</li>
	</ul>
	<ul class="round round-3">
    <% @final.each do |stage| %>
      <% current_match = get_current_match(stage: "final", team_id: stage.team_id, tournament: @tournament) %>
      <% enemy_match = get_enemy_match(stage: "final", team_id: stage.team_id, tournament: @tournament) %>

      <li class="spacer">&nbsp;</li>
      <li class="game game-top"><%= current_match.team.title %> <span><%= current_match.points %></span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom"><%= enemy_match.team.title %> <span><%= enemy_match.points %></span></li>
    <% end %>
    <li class="spacer">&nbsp;</li>
	</ul>
	<ul class="round round-3">
	 <% @final.each do |match| %>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top <%= match.result %>"><%= match.team.title %><span>WINNER!!!</span></li>
    <% end %>
    <li class="spacer">&nbsp;</li>
	</ul>
</main>


<style>
/*
 *  Flex Layout Specifics
*/
main{
  display:flex;
  flex-direction:row;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.5; }

  .round .game-spacer{
    flex-grow:1;
  }

/*
 *  General Styles
*/
body{
  font-family:sans-serif;
  font-size:small;
  padding:10px;
  line-height:1.4em;
}

li.game{
  padding-left:20px;
}

  li.game.win{
    font-weight:bold;
  }
  li.game span{
    float:right;
    margin-right:5px;
  }

  li.game-top{ border-bottom:1px solid #aaa; }

  li.game-spacer{
    border-right:1px solid #aaa;
    min-height:40px;
  }

  li.game-bottom{
    border-top:1px solid #aaa;
  }
</style>